<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;700&display=swap" rel="stylesheet">
		<title>Smashing Mag Article Scraper</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://kit.fontawesome.com/5cc434ff75.js" crossorigin="anonymous"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>