<nav>
  <div class="brand"></div>
  <div class="nav-items">
      <ul class="nav-list">
          <li><button class="scrape">Scrape New Articles</button></li>
          <li><i class="fas fa-home"></i><p>Home</p></li>
          <li><i class="fas fa-archive"></i><p>Saved Articles</p></li>
      </ul>
  </div>
</nav>
<h1>Welcome to the Index.html!</h1>