<nav>
  <div class="brand">
    <img src="/assets/img/SmashingMagazine_Logo.svg" alt="">
    <div class="title">
      <h3>SMASHING</h3>
      <p>MAGAZINE SCRAPER</p>
    </div>
  </div>
  <div class="nav-items">
    <ul class="nav-list">
      <li><a class="scrape">Scrape New Articles</a></li>
      <li>
        <a href="/" class="btn btn-home">
          <i class="fas fa-home"></i>
          <p>Home</p>
        </a>
      </li>
      <li>
        <a href="/saved" class="btn btn-savedArticles">
          <i class="fas fa-archive"></i>
          <p>Saved Articles</p>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="article-container"></div>

<!-- The Modal -->
<div id="scrapedModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modalMessage"></div>
  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/assets/js/index.js"></script>