<nav>
  <div class="brand">
    <img src="/assets/img/SmashingMagazine_Logo.svg" alt="">
    <div class="title">
      <h3>SMASHING</h3>
      <p>MAGAZINE SCRAPER</p>
    </div>
  </div>
  <div class="nav-items">
    <ul class="nav-list">
      <li><button class="scrape">Scrape New Articles</button></li>
      <li>
        <i class="fas fa-home"></i>
        <p>Home</p>
      </li>
      <li>
        <i class="fas fa-archive"></i>
        <p>Saved Articles</p>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>Oops! It looks like there are no new articles!</h1>
</div>

<div class="container-articles">
  <article>
    <div class="author"></div>
    <div class="article-title"></div>
    <div class="article-summary"></div>
    <div class="stats"></div>
  </article>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/assets/js/saved.js"></script>