 /* FONTS */
 body {
     font-family: 'Baloo Bhaina 2', cursive;
 }

 /* NAVBAR */
 
 nav {
   width: 100vw;
   height: 150px;
   display: flex;
   justify-content: space-between;
   align-content: center;
   background-color: #d33a2c;
   flex-direction: row;
 }

 nav .nav-list {
    display: flex;
    height: 100%;
    align-items: center;
 }

 .nav-list li {
     display: flex;
     margin: 0 1.5rem;
     justify-content: space-evenly;
     flex-direction: column;
     align-items: center;
     height: 100px;
     font-size: 2rem;
     color: #fff;
 }

 .nav-list li:hover {
    cursor: pointer;
}

 .brand {
    margin-top: 1rem;
    height: 100px;
    display: flex;
 }

 .title {
    color: #fff;
    display: flex;
    flex-direction: column;
 }

 .title h3 {
     font-size: 2rem;
 }

 .title p {
     width: 200px;
 }

 .nav-list li button {
     background-color: #d33a2c;
     border: 2px #fff solid;
     border-radius: 10px;
     padding: 1rem;
     color: #fff;
     box-shadow:  2px 4px rgba(0, 0, 0, .3);
 }

 /* MAIN  */

 .no-articles {
     width: 80vw;
     min-height: 100px;
     margin: 3rem auto;
     background-color: #d33a2c;
     color: #fff;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .no-articles h1 {
     font-size: 2rem;
 }



 .article-container {
    display: flex;
    width: 80vw;
    align-items: center;
    margin: 3rem auto;
 }

.quarter {
    width:20%;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: flex-end;
    text-align: right;
}


.three-quarter {
    width: 80%;
    padding-left: 30px;
}

.aside-list {
    list-style: none;
}


/* TEXT SETTINGS */

.article-title {

    font-size: 30px;
    text-align: left;
    color: #333;
    line-height: 80%;
    font-style: bold;

}

.article-text {
  
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    color: #333333;
    font-weight: bold;
  
}
  
.article-author {

    font-size: 20px;
    text-align: left;
    font-style: bold; 
    color: #666666;
    margin-bottom: -2%;
    text-decoration: underline;


}
.date {
  font-size: 16px; 
  color: #666666;
  
}

.read-more {
  color:#006fc6;
  font-weight: bold; 
  text-decoration: underline;
 
}
